@font-face {
    font-family: "AlegreyaSans";
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-Black.ttf');
}

@font-face {
    font-family: "AlegreyaSans-Italic";
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-BlackItalic.ttf');
}

@font-face {
    font-family: "AlegreyaSans-Bold";
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf');
}

@font-face {
    font-family: "AlegreyaSans-BoldItalic";
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-BoldItalic.ttf');
}

@font-face {
    font-family: "AlegreyaSans-ExtraBold";
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-ExtraBold.ttf');
}

@font-face {
    font-family: "AlegreyaSans-ExtraBoldItalic";
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: "AlegreyaSans-Italic";
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-Italic.ttf');
}

@font-face {
    font-family: "AlegreyaSans-Light";
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-Light.ttf');
}

@font-face {
    font-family: "AlegreyaSans-LightItalic";
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-LightItalic.ttf');
}

@font-face {
    font-family: "AlegreyaSans-Medium";
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf');
}

@font-face {
    font-family: "AlegreyaSans-MediumItalic";
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-MediumItalic.ttf');
}

@font-face {
    font-family: "AlegreyaSans-MediumRegular";
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf');
}

@font-face {
    font-family: "AlegreyaSans-Thin";
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-Thin.ttf');
}

@font-face {
    font-family: "AlegreyaSans-ThinItalic";
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-ThinItalic.ttf');
}

@font-face {
    font-family: "MarckScript-Regular";
    src: url('../fonts/Marck_Script/MarckScript-Regular.ttf');
}

div.header {
    position: unset;
    z-index: 5;
}

body {
    overflow-x: hidden;
    background-color: #fff;
}

.page1 {
    height: 100vh;
}

.intro-subheading {
    font-family: 'MarckScript-Regular';
    font-size: 2rem;
}

#construction-img img {
    width: 100%;
    margin: auto;
}

body {
    margin: 0px;
}

.flicker-3 {
    -webkit-animation: flicker-3 2.5s linear infinite both;
    animation: flicker-3 2.5s linear infinite both;
}

/**
 * ----------------------------------------
 * animation flicker-3
 * ----------------------------------------
 */
@-webkit-keyframes flicker-3 {

    0%,
    100% {
        opacity: 1;
    }

    32.98% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    34% {
        opacity: 0;
    }

    34.02% {
        opacity: 1;
    }

    34.98% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    35.9% {
        opacity: 0;
    }

    35.92% {
        opacity: 1;
    }

    38.98% {
        opacity: 1;
    }

    39% {
        opacity: 0;
    }

    39.8% {
        opacity: 0;
    }

    39.82% {
        opacity: 1;
    }

    83.98% {
        opacity: 1;
    }

    84% {
        opacity: 0;
    }

    84.9% {
        opacity: 0;
    }

    84.92% {
        opacity: 1;
    }
}

@keyframes flicker-3 {

    0%,
    100% {
        opacity: 1;
    }

    32.98% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    34% {
        opacity: 0;
    }

    34.02% {
        opacity: 1;
    }

    34.98% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    35.9% {
        opacity: 0;
    }

    35.92% {
        opacity: 1;
    }

    38.98% {
        opacity: 1;
    }

    39% {
        opacity: 0;
    }

    39.8% {
        opacity: 0;
    }

    39.82% {
        opacity: 1;
    }

    83.98% {
        opacity: 1;
    }

    84% {
        opacity: 0;
    }

    84.9% {
        opacity: 0;
    }

    84.92% {
        opacity: 1;
    }
}

.tracking-in-contract-bck {
    -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        transform: translateZ(400px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        transform: translateZ(400px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

.intro-heading {
    font-family: 'AlegreyaSans-Italic', sans-serif;
    font-size: 15vh !important;
    text-transform: uppercase;
}

.s3d__navigation-list .s3d__navigation-item {
    display: none;
}

.s3d__navigation-list .s3d__navigation-item:nth-child(2) {
    display: block;
}

.arrow-down {
    width: 10px;
    height: 20px;
    margin: 0 0 0 -30px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    animation: arrow 0.5s 1s infinite ease-out alternate;

}

.arrow-down:hover {
    animation-play-state: paused;
}

.left {
    position: absolute;
    height: 10px;
    width: 40px;
    background: rgb(152, 235, 57);
    transform: rotate(240deg);
    top: 10px;
    left: 10px;
    border-radius: 4px;
    transform-origin: 5px 50%;
    animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right {
    position: absolute;
    height: 10px;
    width: 40px;
    background: rgb(152, 235, 57);
    transform: rotate(-60deg);
    top: 10px;
    left: 10px;
    border-radius: 4px;
    transform-origin: 5px 50%;
    animation: rightArrow 0.5s 1s infinite ease-out alternate;
}




@keyframes arrow {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: 40px;
    }
}


@keyframes leftArrow {
    0% {}

    100% {
        -webkit-transform: rotate(225deg);
    }
}

@keyframes rightArrow {
    0% {}

    100% {
        -webkit-transform: rotate(-45deg);
    }
}

span.umair {
    position: absolute;
    color: white;
    z-index: 6;
    font-size: 35px;
    top: 10px;
    left: 20px;
    /* font-family: AlegreyaSans-Medium; */
    font-family: MarckScript-Regular;
}

.services h3,
.services h1,
.projects h1 {
    font-family: AlegreyaSans-Bold;
}

.services p {
    font-family: AlegreyaSans-Medium;
    font-size: 18px;
}

.greetings {
    font-family: AlegreyaSans-Bold;
    color: #fff;
}

.greetings-section-details p {
    font-size: 18px;
}

.greetings-section {
    color: #fff;
    max-width: 1100px;
    padding: 0 20px;
    margin: auto;
}

.services img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px #424242;
}

.demo {
    margin: 30px auto;
}

.welcome-section {
    position: absolute;
    align-self: center;
}

.section-2 {
    background-color: #1f0d4a;
}

.section-3 {
    background-color: #f4ff4a;
    color: #645a4f;
}

.section-4 {
    background-color: #391639;
}

.section-5 {
    background-color: hsl(300deg 21% 14%);
}

.tps-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tps-section {
    height: 100vh !important;
}

.project-list:after {
    content: " ";
    display: block;
    clear: both;
}

.project__image {
    display: block;
    position: relative;
}

.project__image img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
}

.project__image:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    transition: opacity .3s ease;
    opacity: 0;
}

.project__card {
    position: relative;
    transition: box-shadow .3s ease;
    box-shadow: 0 10px 30px transparent;
}

.project__card.hover-in {
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.project__card.hover-out {
    transition: -webkit-transform .2s ease-in;
    transition: transform .2s ease-in;
    transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}

.project:hover .project__card {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.project:hover .project__image:after {
    opacity: 1;
}

.project:hover .project__detail {
    border-width: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.project:hover .project__title,
.project:hover .project__category {
    -webkit-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
}

.project:hover .project__title {
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1;
}

.project__detail {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-transform: translateZ(30px);
    transform: translateZ(30px);
    border: 0 solid rgb(214, 247, 0);
    transition: border .4s ease;
}

.project__title {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: 700;
    transition: .4s ease;
    opacity: 0;
    -webkit-transform: translateY(40px) scale(0);
    -ms-transform: translateY(40px) scale(0);
    transform: translateY(40px) scale(0);
    will-change: transform;
}

.project__title a {
    color: white;
}

.project__category {
    opacity: 0;
    transition: .4s ease;
    transition-delay: .1s;
    -webkit-transform: translateY(40px) scale(0);
    -ms-transform: translateY(40px) scale(0);
    transform: translateY(40px) scale(0);
    will-change: transform;
}

.project__category a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5em;
}

.slide__price {
    color: hsl(49, 75%, 49%);
}

.testimonial-title {
    color: #FBD82E;
}

.slide__inner p {
    font-size: 17px;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    padding: 0px 15px;
}

.riviews-stars  {
    color: #108A00;
    font-size: 18px;
}

.social-icons a {
    font-size: 25px;
    margin: 0 5px;
    padding: 3px 5px;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
}

.social-icons a:hover,
.social-icons a:focus {
    background-color: hwb(0 100% 0%);
    color: #2B1C2B;
    transition: 1s;
}

.copywrite-text {
  text-transform: uppercase;
  color: #DBB81F;
  font-size: 20px;
  font-family: AlegreyaSans-MediumRegular;
  text-align: end;
}

/* .dev {
  font-family: AlegreyaSans-MediumRegular;
} */
